.task-lists {
    width: 25%;
    /* height: 100vh; */
    background: blue;
    padding: 0 0 1em;
}

.task-lists > .task {
    display: block;
    background-color: #fff;
}

.task {
    margin: 0.5em;
    padding: 1em;
}